{% extends 'dashboard.html' %}

<script>
{% block jquery %}
var endpoint = '/api/population/data'
var defaultData = []
var labels = []

$.ajax({
	method:"GET",
	url: endpoint,
	success: function(data){
        labels = data.labels
        defaultData = data.default
        soldemigratoire = data.soldmig
        soldenaturel = data.soldnat
        compoMenages = data.compo_menages
        evolpopan = data.evolpopan
        setChart()
	    console.log(data)
        console.log(labels)
	},
	error: function(error_data){
		console.log("error")
		console.log(error_data)
	}
})

function setChart(){
    /*Chart.defaults.global.elements.responsive = true;
    Chart.defaults.global.elements.rectangle.borderWidth = 1;
    Chart.defaults.global.elements.rectangle.backgroundColor = 'rgba(249, 213, 3, 0.2)';
    Chart.defaults.global.elements.rectangle.borderColor = 'rgba(249, 213, 3, 1)';*/
    Chart.defaults.global.defaultFontFamily = "Open Sans";
    Chart.defaults.global.defaultFontSize = 12;

    var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: "Nombre d'habitants",
                data: defaultData,
            backgroundColor: 'rgba(249, 213, 3, 1)',
            borderColor: 'rgba(249, 213, 3, 1)',
            pointHoverBackgroundColor: 'rgba(249, 213, 3, 1)',
            pointHoverBorderColor: 'rgba(249, 213, 3, 1)',
            pointHoverRadius: 10,
            borderWidth: 1,
            fill: false,
            }]
        },
        options: {
            title: {
                display: true,
                text: "Evolution de la population"
            },
            legend: {
                display: false
            }
        }
    })

    var ctx2 = document.getElementById("myChart2");
    /*Chart.defaults.global.gridLines.offsetGridLines = false;*/
        var myChart = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    /*label: "Evolution annuelle (%)",*/
                    data: evolpopan,
                backgroundColor: 'rgba(249, 213, 3, 1)',
                borderColor: 'rgba(249, 213, 3, 1)',
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Evolution annuelle moyenne de la population (en %)",
                },
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            offsetGridLines: true,
                            drawTicks: false,
                            drawOnChartArea: false,
                        }
                    }]
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var label = data.datasets[tooltipItem.datasetIndex].label || '';
        
                            if (label) {
                                label += ': ';
                            }
                            label += Math.round(tooltipItem.yLabel * 100) / 100;
                            return label;
                        }
                    }
                }
            }
        })

    var ctx3 = document.getElementById("myChart3");
        var myChart = new Chart(ctx3, {
            type: 'radar',
            data: {
                labels: labels,
                datasets: [{
                    label: "Nombre d'habitants",
                    data: defaultData,
                    backgroundColor: [
                    'rgba(249, 213, 3, 0.2)',
                    'rgba(249, 213, 3, 0.2)',
                    'rgba(249, 213, 3, 0.2)',
                    'rgba(249, 213, 3, 0.2)',
                    'rgba(249, 213, 3, 0.2)',
                    'rgba(249, 213, 3, 0.2)',
                    'rgba(249, 213, 3, 0.2)'
                ],
                borderColor: [
                    'rgba(249, 213, 3, 1)',
                    'rgba(249, 213, 3, 1)',
                    'rgba(249, 213, 3, 1)',
                    'rgba(249, 213, 3, 1)',
                    'rgba(249, 213, 3, 1)',
                    'rgba(249, 213, 3, 1)',
                    'rgba(249, 213, 3, 1)'
                ],
                borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Radar"
                },
            },
        })

    var ctx4 = document.getElementById("myChart4");
        var myChart = new Chart(ctx4, {
            type: 'pie',
            data: {
                labels: ["Ménages 1 personne", "Ménages Autres sans famille", "Couple sans enfant", "Couple avec enfant(s)", "Famille monoparentale"],
                datasets: [{
                    label: "Composition des ménages",
                    data: compoMenages,
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Composition des ménages"
                },
            },
        })

    /*var ctx5 = document.getElementById("myChart5");
        var myChart = new Chart(ctx5, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: "Evolution population",
                    type: 'line',
                    data: defaultData,
                    backgroundColor: 'rgba(249, 213, 3, 0.2)',
                    borderColor: 'rgba(249, 213, 3, 1)',
                }, {
                    label: "Solde migratoire",
                    type: 'bar',
                    data: soldemigratoire,
                    borderWidth: 1,
                    borderColor: 'rgba(249, 213, 3, 1)',
                    backgroundColor: 'rgba(249, 213, 3, 1)',
                }, {
                    label: "Solde naturel",
                    data: soldenaturel, 
                    type: "bar",
                    borderWidth: 1,
                    borderColor: 'rgba(54, 162, 235, 1)',
                    backgroundColor: 'rgba(54, 162, 235, 1)',
                }],
            },
            options: {
                title: {
                    display: true,
                    text: 'Dynamique démographique'
                },
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true,
                    }]
                }
            },      
        })
    }*/
    var ctx5 = document.getElementById("myChart5");
        var myChart = new Chart(ctx5, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: "Solde migratoire",
                    data: soldemigratoire,
                    borderWidth: 1,
                    borderColor: 'rgba(249, 213, 3, 1)',
                    backgroundColor: 'rgba(249, 213, 3, 1)',
                }, {
                    label: "Solde naturel",
                    data: soldenaturel, 
                    borderWidth: 1,
                    borderColor: 'rgba(54, 162, 235, 1)',
                    backgroundColor: 'rgba(54, 162, 235, 1)',     
                }], 
            },
            options: {
                title: {
                    display: true,
                    text: 'Dynamique démographique'
                },
                scales: {
                    xAxes: [{
                        stacked: true,
                        display: false,
                        gridLines: {
                            offsetGridLines: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                        },
                    }],
                    yAxes: [{
                        stacked: true,
                        display: true,
                        offsetGridLines: false,
                        drawOnChartArea: false,
                    }]
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var label = data.datasets[tooltipItem.datasetIndex].label || '';
        
                            if (label) {
                                label += ': ';
                            }
                            label += Math.round(tooltipItem.yLabel * 100) / 100;
                            return label;
                        }
                    }
                }
            },      
        })
    }

{% endblock %}

</script>

{% block content %}

<div class='rowtitle'>
    <div class='col-12'>
        <h1> DEMOGRAPHIE </h1>
        <h3>Commune de {{ libgeo }} ({{ codgeo }})</h3>
    </div>
</div>

<div class='row'>
    <div class='col-md-6'>
		<canvas class="myChart shadow-sm" id="myChart" width="400" height="400"></canvas>
    </div>
    <div class='col-md-6'>
		<canvas class="myChart shadow-sm" id="myChart2" width="400" height="400"></canvas>
    </div>
    <div class='col-md-6'>
		<canvas class="myChart shadow-sm" id="myChart3" width="400" height="400"></canvas>
    </div>
    <div class='col-md-6'>
		<canvas class="myChart shadow-sm" id="myChart4" width="400" height="400"></canvas>
    </div>
    <div class='col-md-12'>
		<canvas class="myChart shadow-sm" id="myChart5" width="400" height="400"></canvas>
    </div>
</div>

{% endblock content %}