{% extends 'home.html' %}

<script>
{% block jquery %}
var endpoint = 'api/chart/data/'
var defaultData = []
var labels = [];

$.ajax({
	method:"GET",
	url: endpoint,
	success: function(data){
        labels = data.labels
        defaultData = data.default
        setChart()
	    console.log(data)
        console.log(labels)
	},
	error: function(error_data){
		console.log("error")
		console.log(error_data)
	}
})

function setChart(){
    var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: "Nombre d'habitants",
                data: defaultData,
                backgroundColor: [
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)'
            ],
            borderColor: [
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)'

            ],
            borderWidth: 1
            }]
        }
    })

    var ctx2 = document.getElementById("myChart2");
    var myChart = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: "Nombre d'habitants",
                data: defaultData,
                backgroundColor: [
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)'
            ],
            borderColor: [
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)'

            ],
            borderWidth: 1
            }]
        }
    })

    var ctx3 = document.getElementById("myChart3");
    var myChart = new Chart(ctx3, {
        type: 'radar',
        data: {
            labels: labels,
            datasets: [{
                label: "Nombre d'habitants",
                data: defaultData,
                backgroundColor: [
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)',
                'rgba(249, 213, 3, 0.2)'
            ],
            borderColor: [
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)',
                'rgba(249, 213, 3, 1)'
            ],
            borderWidth: 1
            }]
        }
    })

    var ctx4 = document.getElementById("myChart4");
    var myChart = new Chart(ctx4, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                label: "Nombre d'habitants",
                data: defaultData,
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
				    ],
            }]
        }
    })
}

{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "api-data"%}'>
        <h1>Analyses socio-demo</h1>
    </div>
    <div class='col-sm-6'>
		<canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div class='col-sm-6'>
		<canvas id="myChart2" width="400" height="400"></canvas>
    </div>
    <div class='col-sm-6'>
		<canvas id="myChart3" width="400" height="400"></canvas>
    </div>
    <div class='col-sm-6'>
		<canvas id="myChart4" width="400" height="400"></canvas>
    </div>


{% endblock content %}