<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <title>dataviz</title>

    {% include 'css.html' %}
    {% include 'bootstrap_defaults.html' %}
  </head>
  <body>

    <div class='container' style="margin-top:25px">
      <div class='form-row align-items-center'>
        <div class="col-md-12 d-flex flex-column">
          <form action="." method="post" class="form-inline my-2 my-lg-0" id="searchTerritory">
            {% csrf_token %}
            {{ form.territory }}
            <button class="btn btn-outline-dark my-2 my-md-0" type="submit">Search</button>
          </form>
        </div>
      </div> <!-- form-row -->

    <div class='rowtitle'>
        <div class='col-12 text-center'>
            <h1> DEMOGRAPHIE </h1>
            <h2>Commune de {{ libgeo }} ({{ codgeo }})</h2>
        </div>
    </div> <!-- rowtitle -->

    {% block content %}
    {% endblock content %}

    </div><!-- container -->
    {% include 'js.html' %}
    <script>
    $(document).ready(function(){ /*fait appel à la fonction dès que la page html est chargé */
      
    {% block jquery %}
    {% endblock %}
    
    });
    
    </script>
  </body>
</html>

