<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
  <title>django-pygal</title>
</head>
<body>
  <h1>Bienvenue sur mon blog</h1>
  {{ line_chart|safe  }}
</body>
</html>

{% comment %} <h1>Bienvenue sur mon blog</h1>

{% for el in data %}
    <p>La date actuelle est : {{ data.p15_pop }}</p>
{% endfor %} {% endcomment %}
