/* body {
    background-color: blue !important;
} */

/* canvas[id*="myChart"] {
    padding: 10px;
} */

/* *[class^="col-sm"] {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
} */