<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<!-- Pygal -->
<script src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>

<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<!-- MapBox -->
<script src='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>

<!-- Moments.js -->
<script src= 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/fr.js'></script>