{% extends 'bootstrap_defaults.html' %}

{% block content %}

{% if error %}
<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
{% endif %}

    <div class="container">
        <form form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="SE CONNECTER" />
        <h2>{{text}}</h2>
        </form>
    </div>
    <div>
        <a href="{% url 'home' %}">Mot de passe oublié ? </a>
    </div>

{% endblock content %}